pre.output code {
  background-color: #333;
  border: 1px solid #000;
  color: #FFF;
  min-height: 200px;
  font-size: 80%; }

footer {
  text-align: center;
  margin-top: 3rem;
  padding: 2rem;
  margin-bottom: 1rem; }

#user_input {
  min-height: 200px; }
